.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  /* 0: This sets the top and bottom margins to 0, meaning there is no 
  vertical space above or below the element.
auto: This automatically calculates the left and right margins to center the 
element horizontally within its container. */
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}

.mainImageContainer {
  position: relative;
  margin: 2rem 0;
  width: 80%;
  aspect-ratio: 12/7;
}

.mainImage {
  object-fit: cover;
  border-radius: 40px;
  box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
}

.inputForm {
  width: 90%;
}

.heading {
  font-family:
    ‘Comic Sans MS’,
    Courier,
    monospace;
  font-size: 4em;
  font-weight: bold;
  color: #7669ff;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
}

.subtitle {
  font-family:
    ‘Courier New’,
    Courier,
    monospace;
  font-size: 2em;
  font-weight: normal;
  text-align: left;
  text-shadow: 1px 1px 2px #808080;
}

.featuresList {
  text-align: left;
  /* Remove default bullets */
  list-style-type: none;
  /* Remove left padding */
  padding-left: 0;
}

.featuresList li::before {
  /* Add check mark before each item */
  content: '✔';
  /* Add some space between the check mark and text */
  padding-right: 8px;
}

.politeTitle {
  /* Aligns the title to the left */
  text-align: left;
  /* Adds some spacing between the title and the message */
  padding-left: 12px;
}

.featuresSection {
  /* Adds spacing before the section */
  margin-top: 40px;
}

.politeMessage {
  /* Softer background color */
  background-color: #e3f2fd;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
}

.politeMessage h5 {
  /* Darker, more readable green */
  color: #388e3c;
  font-style: italic;
}

.politeContainer {
  /* Ensures title and message are aligned to the left */
  text-align: left;
  /* Ensures the container takes the full width */
  width: 100%;
}

.screenshotSection {
  margin: 2rem 0;
  text-align: center;
  margin-top: 0.5rem;
}

.downloadSection {
  /* Adds spacing around the section */
  margin: 2rem 0;
  text-align: center; /* Centers the content */
  margin-bottom: 0.5rem;
}

.downloadSection h3 {
  font-size: 1.5rem; /* Adjusts the heading size */
  margin-bottom: 1rem; /* Adds spacing below the heading */
}

.downloadBadges {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Adds spacing between badges */
  gap: 10px;
  /* Adds spacing below the badges */
  margin-bottom: 10px;
}

.screenshots {
  display: flex;
  justify-content: center;
  /* Enables horizontal scrolling */
  overflow-x: auto;
  /* Full viewport width */
  width: 100vw;
  margin: 0 16px;
  scroll-snap-type: x mandatory;
}

.screenshots::-webkit-scrollbar {
  /* Customize scrollbar height */
  height: 8px;
}

.screenshots img {
  scroll-snap-align: start;
  flex-shrink: 0;
  /* Ensures images shrink if necessary */
  max-width: 90%;
  /* Maintains aspect ratio */
  height: auto;
}

.screenshots img:first-child {
  /* Top-left corner rounded */
  border-top-left-radius: 20px;
  /* Bottom-left corner rounded */
  border-bottom-left-radius: 20px;
}

.screenshots img:last-child {
  /* Top-right corner rounded */
  border-top-right-radius: 20px;
  /* Bottom-right corner rounded */
  border-bottom-right-radius: 20px;
}

/* Apply flex-start on narrow screens */
@media (max-width: 768px) {
  .screenshots {
    /* Add padding on the left and right */
    padding: 0 16px;
    /* Align to the left for narrow screens */
    justify-content: flex-start;
  }
}
