.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  margin: auto;
  padding: 4rem 1rem;
  text-align: center;
}

.mainImageContainer {
  position: relative;
  margin: 2rem 0;
  width: 80%;
  aspect-ratio: 12/7;
}

.mainImage {
  object-fit: cover;
  border-radius: 40px;
  box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
}

.inputForm {
  width: 90%;
}

.heading {
  font-family: ‘Comic Sans MS’, Courier, monospace;
  font-size: 4em;
  font-weight: bold;
  color: #7669ff;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
}

.subtitle {
  font-family: ‘Courier New’, Courier, monospace;
  font-size: 2em;
  font-weight: normal;
  text-align: left;
  text-shadow: 1px 1px 2px #808080;
}